/* core styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: auto;
  background: #F2F2F2;
  color: #302529;
}

img {
  display: block;
  width: 50%;
  margin: 1.5em auto;
  border: 4px solid #00A1C8;
}

img.pic {
  display: inline;
  width: 100%;
  margin: 0;
  border: none;
}

h2, h3 {
  margin: 0;
  padding: 0.5em 0;
}

p {
  margin: 0;
  padding: 1em 2em;
}

/* header */

header {
  /*display: grid;
  grid-template-columns: 1fr 1fr;*/
  justify-content: space-between;
  padding: 2em 0;
  background-color: #FAFF00;
}

  .title {
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: 1em;
  }

  #border {
    border: 1px solid #302529;
    width: 50%;
    margin: auto;
  }

  nav {
    padding-top: 1.5em;
  }

    nav ul li {
      display: inline-block;
      font-size: 1.2em;
      letter-spacing: 1px;
      width: 100%;
      text-align: center;
    }

    nav ul li a {
      text-decoration: none;
      color: #302529;
    }

    li a.active {
      font-weight: 600;
    }

    li a:hover {
      color: #00A1C8;
    }

/* about */

#about {
  background: #f2f2f2;
  padding: 2em;
  text-align: center;
}

/* favourite things */

#favourite-things {
  background: #00A1C8;
  color: #f2f2f2;
  padding: 2em;
  text-align: center;
}

  .tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    padding: 1.5em 0;
  }

/* pictures */

#pictures {
  background: #f2f2f2;
  padding: 2em;
  text-align: center;
}

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    padding: 1.5em 0;
  }

/* contact */

#contact {
  background: #00A1C8;
  color: #f2f2f2;
  padding: 2em;
  text-align: center;
}

  /* contact form */
  .form-container {
    margin: 1em 0;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], input[type=email], textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
      background-color: #00BCA5;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
      background-color: #00AA97;
  }

/* footer */

footer {
  background: #FAFF00;
  padding: 2em;
  text-align: center;
}

  footer a {
    color: #302529;
    font-weight: 600;
    text-decoration: none;
  }

  footer a:hover {
    color: #5da2d5;
  }
