/* core styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*#page {
  max-width: 1000px;
  margin: auto;
}*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: auto;
  background: #fff;
  color: #302529;
}

img {
  display: block;
  width: 40%;
  margin: auto;
}

img#profile {
  padding-bottom: 1em;
}

img.pic {
  display: inline;
  width: 100%;
  margin: 0;
  border: none;
}

h2, h3 {
  margin: 0;
  padding: 0.5em 0;
}

p {
  margin: 0;
  padding: 1em 2em;
}

button {
    background-color: #43BB46;
    color: #fff;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    font-size: 0.7em;
    font-weight: 600;
}

button a {
  text-decoration: none;
  color: #fff;
}

button:hover {
    background-color: #F28F29;
}

/* header */

header {
  justify-content: space-between;
  padding: 2em 0;
  background-color: #43BB46;
}

  .logo {
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 1em;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
  }

  #border {
    border: 1px solid #fff;
    width: 50%;
    margin: auto;
  }

  nav {
    padding-top: 1.5em;
  }

    nav ul li {
      display: inline-block;
      list-style: none;
      font-size: 1.2em;
      letter-spacing: 1px;
      width: 100%;
      text-align: center;
    }

    nav ul li a {
      text-decoration: none;
      color: #fff;
    }

    li a.active {
      font-weight: 600;
      color: #C1FFC3;
    }

    li a:hover {
      color: #ADDA3C;
    }

/* about */

#about {
  background: #f2f2f2;
  padding: 2em;
  text-align: center;
}

img#profile {
  display: block;
  /*margin: auto;*/
}

/* favourite things */

#favourite-things {
  background: #43b7bb;
  color: #fff;
  padding: 2em;
  text-align: center;
}

  .tile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    padding: 1.5em 0;
  }

  .container {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5aa15c;
  }

  .tile:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

/* pictures */

#pictures {
  background: #f2f2f2;
  padding: 2em;
  text-align: center;
}

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    padding: 1.5em 0;
  }

/* contact */

#contact {
  background: #43b7bb;
  color: #fff;
  padding: 2em;
  text-align: center;
}

  /* contact form */
  .form-container {
    margin: 1em 0;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], input[type=email], textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
      background-color: #43BB46;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
      background-color: #ADDA3C;
  }

/* bottom */

#bottom {
  background: #f2f2f2;
  padding: 3em 2em;
  text-align: center;
}

/* footer */

footer {
  background: #43BB46;
  color: #fff;
  padding: 2em;
  text-align: center;
}

  footer a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }

  footer a:hover {
    color: #ADDA3C;
  }

/* desktop layout */

@media (min-width: 700px) {
  header {
    display: grid;
    grid-template-columns: auto 65%;
    padding: 1.2em;
  }
  .logo {
    text-align: left;
    padding: 0;
  }
  nav {
    text-align: right;
    padding: 0;
  }
  nav ul {
    padding: 0;
  }
  nav ul li {
    display: inline;
    vertical-align: middle;
    font-size: 1em;
    padding: 0 1%;
  }
  #border {
    display: none;
  }
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .split {
    margin: auto;
  }
  img#profile {
    width: 50%;
    padding-bottom: 0;
  }
}
